@charset "UTF-8";
html{
	font-size: 14px;
	font-weight: 400;
	color: #666;
}

/*header*/
header{
	background: url(../images/visual_bg.jpg) 0 -32px no-repeat ;
	background-attachment : fixed;
	height: 950px;
	position: relative;
	/*화면 같이 움직이기*/
}

.header-wrap{
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 0 auto;
}
.slogan{
	position: absolute;
    top: 31%;
    left: 33%;

}
.system-wrap{
	background: url(../images/system_bg.jpg) no-repeat ;
	
	/*height: 700px;*/
}
/*물관리 시스템*/
.product-wrap{
	width: 1000px;
	margin: 0 auto;
}
.system-title{
	text-align: center;
	font-weight: 500;
	color: #1e598c;
	border-bottom: 1px solid #1e598c;
	font-size: 30px;
	display: block;
}
.system-text{
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
	background: #1e598c;
}
.systems{
	display: flex;
	justify-content: center;
	text-align: center;
}
.system{
	width: 300px;
    height: 300px; 
    border-radius: 70%;
    overflow: hidden;
    margin: 4rem 2rem;
}
.product-text{
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	color: #000000;
	line-height: 50px;
	
}
.product{
	font-size: 30px;
	font-weight: 500;
	color: #1e598c;
}
.product-color-text{
	color: #ed480e;
}
.product-img{
	width: 600px;
	height: 442px;
	margin: 0 0 0 8rem;
}
.product-more{
	text-align: center;
	font-size: 16px;
	border : 1px solid #000000; 
	border-radius: 30px;
	width: 100px;
	margin: 1rem auto;
}
.product-more:hover{
	color: white;
	background: black;
}
















